/*
Estilos
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
header {
    width: 100%;
    color: whitesmoke;
  }
li {
    display: inline-block;
    padding-left: 5px;
    font-size: 20px;
    font-weight: 700;
  }
  section{
      margin-bottom: 20px;
  }
.container-header{
    background-color: rgb(235, 40, 5);
    height:10vh;
    width: 100%;
    padding: 1em;
} 
.title-left{
    float: left;
}  
.image-header{
    width: 100%;
} 
.image-header img{
    max-width:100%;
    width:100%; 
}
.row img{
    max-width: 100%; 
    width: 260px;
    height:160px;
}
.menu {
    float: right;
} 
.menu-icon {
    float: right;
}
.borders{
    border: 1px solid rgb(179, 178, 178);
    max-width:100%;
    margin-bottom: 1em;
    padding:1em; 
}
footer{
    background-color: rgb(51, 50, 51);
    color: white;
    padding: 0.5em;
    text-align:center; 
  
    width: 100%;
}
h3{
    padding: 5px 0;
}
button{
    background-color:rgba(10, 135, 252, 0.87);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 10px 0;
}
  /* Grid */
.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  }
  
.row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  [class*='col-'] {
    float: left;
    padding: 15px;
  }
  
  .col-xs-1 {
    width: 8.33333333%;
  }
  
  .col-xs-2 {
    width: 16.66666667%;
  }
  
  .col-xs-3 {
    width: 25%;
  }
  
  .col-xs-4 {
    width: 33.33333333%;
  }
  
  .col-xs-5 {
    width: 41.66666667%;
  }
  
  .col-xs-6 {
    width: 50%;
  }
  
  .col-xs-7 {
    width: 58.33333333%;
  }
  
  .col-xs-8 {
    width: 66.66666667%;
  }
  
  .col-xs-9 {
    width: 75%;
  }
  
  .col-xs-10 {
    width: 83.33333333%;
  }
  
  .col-xs-11 {
    width: 91.66666667%;
  }
  
  .col-xs-12 {
    width: 100%;
  }
  
  .col-xs-offset-1 {
    margin-left: 8.33333333%;
  }
  
  .col-xs-offset-2 {
  margin-left: 16.66666667%;
  }
  
  .col-xs-offset-3 {
    margin-left: 25%;
  }
  
  .col-xs-offset-4 {
    margin-left: 33.33333333%;
  }
  
  .col-xs-offset-5 {
    margin-left: 41.66666667%;
  }
  
  .col-xs-offset-6 {
    margin-left: 50%;
  }
  
  .col-xs-offset-7 {
    margin-left: 58.33333333%;
  }
  
  .col-xs-offset-8 {
    margin-left: 66.66666667%;
  }
  
  .col-xs-offset-9 {
    margin-left: 75%;
  }
  
  .col-xs-offset-10 {
    margin-left: 83.33333333%;
  }
  
  .col-xs-offset-11 {
    margin-left: 91.66666667%;
  }
  
  .col-xs-offset-12 {
    margin-left: 100%;
  }
  
  @media (min-width: 768px) {
    .col-sm-1 {
      width: 8.33333333%;
    }
  
    .col-sm-2 {
      width: 16.66666667%;
    }
  
    .col-sm-3 {
      width: 25%;
    }
  
    .col-sm-4 {
      width: 33.33333333%;
    }
  
    .col-sm-5 {
      width: 41.66666667%;
    }
  
    .col-sm-6 {
      width: 50%;
    }
  
    .col-sm-7 {
      width: 58.33333333%;
    }
  
    .col-sm-8 {
      width: 66.66666667%;
    }
  
    .col-sm-9 {
      width: 75%;
    }
  
    .col-sm-10 {
      width: 83.33333333%;
    }
  
    .col-sm-11 {
      width: 91.66666667%;
    }
  
    .col-sm-12 {
      width: 100%;
    }
  
    .col-sm-offset-1 {
      margin-left: 8.33333333%;
    }
    
    .col-sm-offset-2 {
      margin-left: 16.66666667%;
    }
    
    .col-sm-offset-3 {
      margin-left: 25%;
    }
    
    .col-sm-offset-4 {
      margin-left: 33.33333333%;
    }
    
    .col-sm-offset-5 {
      margin-left: 41.66666667%;
    }
    
    .col-sm-offset-6 {
      margin-left: 50%;
    }
    
    .col-sm-offset-7 {
      margin-left: 58.33333333%;
    }
    
    .col-sm-offset-8 {
      margin-left: 66.66666667%;
    }
    
    .col-sm-offset-9 {
      margin-left: 75%;
    }
    
    .col-sm-offset-10 {
      margin-left: 83.33333333%;
    }
    
    .col-sm-offset-11 {
      margin-left: 91.66666667%;
    }
    
    .col-sm-offset-12 {
      margin-left: 100%;
    }
  }
  
 
  .view-mobile {
    display: block;
  }
  
  .view-desktop {
    display: none;
  }
  
  
@media (min-width: 768px) {
  .view-mobile {
   display: none;
   }
    
   .view-desktop {
    display: block;
    }
    .borders{
        border: 1px solid rgb(192, 191, 191);
        height:320px;
        margin-right:15px;
        margin-bottom: 20px;
        max-width:100%;
        padding:5px; 
    }
}
   
  /* Styles for landing */
  
  .main-title {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0.04em;
    margin-bottom: 15px;
  }
  
  .common-title {
    font-size: 32px;
    font-weight: 700;
  }
  
  